.thread-user-avatar{
	border-radius: 50%;
}
.thread-content img{
	max-width: 100%;
}
.thread-history{
	padding-left: 2em;
	position: relative;

	&:before{
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: 2em;
		width: 3px;
		background-color: #0088ff;
	}

	&:after{
		position: absolute;
		content: '';
		top: 50%;
		transform: translate(-50%, -50%);
		width: 1em;
		height: 1em;
		left: 2.1em;
		background-color: #0088ff;
		border-radius: 50%;
	}
}