  a{
    text-decoration: none;
    color:black;
  }
    .post{
  clear: both;
  display: inline-block;
  text-decoration: none;
  color:black;
  border: 2px solid black;
  border-radius: 2px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  width: 100px;
  margin-top: 50px;
  margin-bottom: 0px;
  }
  #btngroup{
    margin-left: 100px;
  }
  #postcont{
    display: inline-block;
    min-height: 400px;
    width:inherit;
    margin-bottom: 10px;
    word-break: break-all;
  }
  #postshow{
    margin-left:100px;
    width:150px;
    display: inline-block;
    vertical-align: top;
  }
  .replyshow{
    display:inline-block;
    vertical-align:top;
    width:150px;
  }
  .replyauthor{
    clear:both;
    margin-left:100px; 
    border-top:10px solid #00c5ff;
    width: 75%;
    margin-right: 100px;
    margin-bottom: 10px;
    display:inline-block;
  }
  .replycont{
    display:inline-block;
    word-break: break-all;
    width: inherit;

  }

  .bottom{
    position: absolute;
    bottom: 0;
  }
  .action{
    position: relative;
    min-height: 200px;
    padding-left: 40px;
  }
   .submit{
    width:100px; 
    height:30px; 
    background-color:white; 
    border-radius: 2px;
    color:black;
    border:2px solid black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
  }
  .submit:hover{
    color:#acacac;
    background-color: white;
  }
  .avatarshow{
    width:120px;
    height:120px;
    display: block;
  }
  #viewthread{
    overflow-x: scroll;
    white-space: nowrap;
  }
  .author{
    display:block;
  }
  #qreply{
    border-radius: 15px;
    padding-left: 12px;
    border:2px solid #00c5ff;
    height:25px;
    font-size: 18px;
  }
  #replybox{
    width: 95%;
    margin: 0 auto;
  }
  @media screen and (max-width: 480px){
    .avatarshow{
      width: 50px;
      height:50px;
      display: inline-block;
    }
    #viewthread, #postcont, .replycont{
      max-width: 95%;
      display: block;
      white-space: normal;
      overflow-x: hidden;
      margin:0 auto;
    }
    .replyauthor, .replyshow{
      margin-left: 0;
      max-width: 95%;
      margin:0 auto;
      display: block;
      white-space: normal;
      overflow-x: hidden;
    }
    .replyauthor{
      width: 95%;
    }
    .author, .role{
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
    }
    #postshow, .replyshow{
      margin-left: 0;
      width: 95%;
    }
    #btngroup, #btngroup a{
      width: 95%;
      display:block;
      margin: 0 auto;
      margin-top:10px;
    }
  
  }